<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWS.Logger.Core" version="1.2.0" targetFramework="net461" />
  <package id="AWS.Logger.SeriLog" version="1.1.0" targetFramework="net461" />
  <package id="AWSSDK.CloudWatchLogs" version="3.3.4" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.3.17" targetFramework="net461" />
  <package id="Polly" version="4.3.0" targetFramework="net461" />
  <package id="Serilog" version="2.5.0" targetFramework="net461" />
  <package id="Serilog.Enrichers.Environment" version="2.1.0" targetFramework="net461" />
  <package id="Serilog.Settings.AppSettings" version="2.0.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net461" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net461" />
  <package id="Serilog.Sinks.RollingFile.Extension" version="1.0.5" targetFramework="net461" />
</packages>